:root {
    --blanco: #FFFFFF;
    --negro: #0C090D;
    --primario: #F71735;
    --secundario: #33032F;
    --azul: #084C61;
    --silver: #E7E5DF;
}

::selection {
    background-color: rgb(247 23 53 / .70);
    color: var(--blanco);
}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Scroll Snap */
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


body {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    background-image: linear-gradient(to top, var(--silver) 0%, var(--blanco) 100%);
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(49, 54, 56, 0.48);
    -moz-box-shadow: 0px 5px 15px 0px rgba(49, 54, 56, 0.48);
    box-shadow: 0px 5px 15px 0px rgba(49, 54, 56, 0.48);
    background-color: var(--blanco);
    border-radius: 1rem;
    padding: 2rem;
}

/* Fuentes y Tipografías */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/* Utilidades */
.boton {
    padding: 1rem 3rem;
    background-color: var(--secundario);
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    text-align: center;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    background-color: var(--primario);
    transition: background-color .5s ease;
}

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.w-sm-90 {
    width: 90%;
}

@media (min-width: 768px) {
    .w-sm-90 {
        width: auto;
    }
}

@media (min-width: 768px) {
    .flex {
        display: flex;
    }

    .alinear-derecha {
        justify-content: flex-end;
    }

}

/* Titulo */

.titulo span {
    font-size: 2rem;
}

/* Navegación */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    transition: background-color .5s ease;
}

/* Hero */
.hero {
    height: 45rem;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(20 17 21 / .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

/* Servicios */

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

.servicio {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: 400;
}

.servicio p {
    text-align: justify;
    line-height: 1.6;
}

.servicio .iconos {
    height: 13rem;
    width: 13rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Contacto */
.formulario {
    background-color: var(--silver);
    width: min(65rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    display: block;
    margin-bottom: .5rem;
    color: var(--primario);
    font-weight: 700;
    font-size: 1.8rem;
}

.input-texto {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    font-size: 1.8rem;
}

.textarea {
    height: 14rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

/* Footer */
.footer p {
    text-align: center;
    padding: 1rem 0;
}